<div class="container-adicionar-produtora">
    <h1>adicionar produtora</h1>
    <div class="adicionar-produtora">
        <form action="/producers/add" method="post">
            <div class="box-add">
                <label for="name">Primeiro Nome:</label>
                <input type="text" name="firstname" required>
            </div>
            <div class="box-add">
                <label for="name">Sobrenome:</label>
                <input type="text" name="lastname" required>
            </div>
            <div class="btn-submit-procucer">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</div>

