<div class="container-caminho-links">
    <h1>Vendas Mensal de {{yearParams}}</h1>
    <div class="caminho-links">
        <ul class="list-links">
        {{#each month}}
            <li class="btn-links"><a href="/sales/salesyear/{{this.year}}/{{this.month}}">{{this.name}}</a></li>
        {{/each }}
        </ul>
    </div>
</div>

