<div class="painel-vendas-container">
    <div class="painel-vendas">
        <ul>
            <li class="btn-links"><a href="/producers/all">Produtoras</a></li>
            <li class="btn-links"><a href="/producers/add">Adicionar</a></li>
        </ul> 
    </div>
</div>