<div class="painel-vendas-container">
    <div class="painel-vendas">
        <ul>
            <li class="btn-links">
                <a href="/sales/add">Adicionar Vendas</a>
            </li>
            <li class="btn-links">
                <a href="/sales/salesyear">Ver Vendas</a>
            </li>
        </ul>
    </div>
</div>
